.sidebar .user .photo {
    width: 34px;
    height: 34px;
    overflow: hidden;
    float: left;
    position: relative;
    top: -8px;
    z-index: 5;
    margin-right: 11px;
    border-radius: 50%;
    margin-left: 23px;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.sidebar .user {
    padding-bottom: 20px;
    margin: 20px auto 0;
    position: relative;
}

.sidebar .user:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: hsla(0,0%,71%,.3);
}

.sidebar .user .user-info>a {
    display: block;
    line-height: 18px;
    font-size: 14px;
}

.animation-transition-fast-in, .caret, .sidebar a {
    transition: all .15s ease-in;
}

.sidebar .user .user-info .caret {
    position: absolute;
    top: 8px;
    right: 15px;
}

.sidebar .user .user-info>a>span {
    display: block;
    position: relative;
    opacity: 1;
}

.sidebar .user .user-info .collapse, .sidebar .user .user-info .collapsing {
    width: 100%;
    top: -16px;
}

.sidebar .sidebar-wrapper .user .user-info [data-toggle=collapse]~div>ul>li>a .sidebar-mini, .sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-mini {
    text-transform: uppercase;
    width: 30px;
    margin-right: 15px;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    float: left;
    display: inherit;
}

.sidebar .sidebar-wrapper .user .user-info [data-toggle=collapse]~div>ul>li>a .sidebar-normal, .sidebar .sidebar-wrapper>.nav [data-toggle=collapse]~div>ul>li>a .sidebar-normal {
    margin: 0;
    position: relative;
    transform: translateX(0);
    opacity: 1;
    white-space: nowrap;
    display: block;
}

.dark-edition .sidebar[data-background-color="black"] .nav li:not(.active) a, .dark-edition .sidebar[data-background-color="black"] .nav li:not(.active) .dropdown-menu a {
    color: #fff !important;
}

.sidebar .user .photo {
    width: 34px;
    height: 34px;
    overflow: hidden;
    float: left;
    position: relative;
    top: -8px;
    z-index: 5;
    margin-right: 11px;
    border-radius: 50%;
    margin-left: 23px;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
.sidebar .user .photo img {
    width: 100%;
}


.new-select option {
    background: white;
    color: #9c27b0;

}

.new-select option:hover {
    color: white;
    background-color: #9c27b0;
}